*{
padding: 0;
margin: 0;
background-color: rgb(129, 190, 185);
}

header nav ul{
    display: flex;
    margin-right: 75%;
    list-style: none;
}

header nav ul li{
    padding-left: 10%;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    }
#About h2{
    padding-top: 2%;
}
.container h1{
   /* margin-right: 10%;*/
    text-align: center;
    font-size: 48pt;
    padding-bottom: 2%;
}
.container h2{
    text-align: center;
    font-size: 28pt;
}
.container p{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    font-size: 16pt;
}
#About img{
    padding: auto;
    height: 198px;
    width: 297px;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*padding-top: 2%;*/
    border: 4px black solid;
}
#Socials ul{
    padding-top: 10%;
    list-style: circle; 
    font-size: 20pt;
    text-align: left;
}
#Socials ul li{
    padding-bottom: 5%;
    margin-right: 70vh;
}

#Socials img{
    height: 3%;
    width: 3%;
}
#Music ul{
    list-style: none;
}

#Contact h2{
    padding-bottom: 50%;
}
#Contact a{
    font-size: 40pt;
}
.container iframe{
    padding-top: 2%;
    align-items: center;
}
#Youtube h3{
    font-size: 18pt;
    padding-top: 5%;
}
#Youtube iframe{
    padding-top: 2%;
    margin-left: 27%;
}